#root{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
}
body{
    margin: 0;
}
.pizza{
    background-image: url('./images/cheesy-pepperoni-pizza-royalty-free-image-1570815711.jpg');
    object-fit: cover;
    overflow: hidden;
}
.noPizza{
    background-color: white;
}
