#HomeContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#MakePizzaButton{
    margin-top: 10px;
    padding: 20px;
    width: 300px;
    border: none;
    background-color: rgb(227, 24, 55);
    color: white;
    transition-duration: .5s;
    transition-property: background-color;
}
#MakePizzaButton:hover{
    cursor: pointer;
    background-color: rgb(185, 31, 54);
}
#PizzaMakingModalContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
#PizzaMakingModal{
    width: 400px;
    height: 400px;
    background-color: white;
}
#CartContainer{
    position: absolute;
    right: 0;
    top:50px;
    background-color: #006491;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    /* box-shadow: -5px 0 7px 0px rgb(0 0 0 / 38%); */

}


#cartButton{
    position: absolute;
    right: 0;
    top:50px;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 20px;
    background-color: white;
}
#cartButton:hover{
    cursor: pointer;
}
#CartCloseButtonContainer{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
#CartCloseButtonContainer > button{
    margin-top: 10px;
    margin-right: 10px;
}
#CartItemsContainer{
    height: 70%;
    width: 100%;
    background-color: #0672a3;
}::-webkit-scrollbar {
    width: 0;
}
#CartTotalContainer{
    height: 20%;
    width: 100%;
    display:  flex;
    align-items: center;
    justify-content: space-evenly;
}
#PizzaMakingModal{
    display: flex;
    flex-direction: column;
}
#CloseButtonContainer{
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
#exitButton{
    margin: 10px;
}
#IngredientsContainer{
    height: 70%;
    display: flex;
    flex-direction: column;
}
.Ingredient{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#TotalAndSubmitbutton{
    height: 20%;
}
.ingredientNameContainer{
    width: 230px;
}
#TotalAndSubmitbutton{
    display: flex;
    align-items: center;
    justify-content: space-around
}
#TotalAndSubmitbutton > button{
    width: 70%;
    padding: 10px;
    border-radius: 100px;
    border: none;
    background-color: rgb(227, 24, 55);
    color: white;
    transition-duration: .5s;
    transition-property: background-color;
}
#TotalAndSubmitbutton > button:hover{
    cursor: pointer;
    background-color: rgb(185, 31, 54);
}
#CartItemsContainer > ul{
    height: 100%;
    overflow-y: scroll;
    margin: 0;
}

.IngredientButton{
    border: none;
    border-radius: 100px;
    padding: 10px;
    transition-duration: .3s;
    transition-property: background-color, color;
}
.IngredientButton:hover{
    cursor: pointer;
    background-color: rgb(133, 133, 133);
    color: white;
}
#CartItemsContainer > ul> li{
    list-style-type: none;
}
#CartItemsContainer > ul{
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.Items{
    margin-top: 5px;
    display: flex;
    column-gap: 5px;
}
.Items>button{
    border: none;
    transition-duration: .3s;
    transition-property: background-color, color;
}
.Items>button:hover{
    cursor: pointer;
    background-color: rgb(133, 133, 133);
    color: white;
}

.ToppingsUl{
    list-style-type: none;
    display: flex;
    column-gap: 80px;
    align-items: flex-end;
}
.CartItemsAndToppings{
    padding-bottom: 10px;
    border-bottom: #00000038 2px solid;
    width: 100%;

}
