#OrdersContainer{
    display: flex;
    height: 100%;
    width: 100%;
}
#orderContainer{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#orderCostContainer{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#orderName{
    min-width: 597px;
    height: 55px;
}
#order{
    min-width: 600px;
    height: 500px;
    border: 1px solid #555555;
}
#orderCost{
    min-width: 200px;
    height: 278px;
    border: 1px solid #555555;
}
